html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.toast-inform {
  background-color: #2980b9;
}

.toast-success {
  background-color: #27ae60;
}

.toast-error {
  background-color: #c02b2b;
}
